h1 {
    text-align: center;
}

input {
    margin-bottom: 10%;
}

input[type="text"], input[type="password"] {
    border: 1px solid black;
    padding-right: 55%;
}

input[type=button] {
    padding: 3%;
    border: 1pt solid black;
    border-radius: 10%;
}

input[type=button]:hover {
    cursor: pointer;
}

.loginBox {
    display: flex;
    border: 1px solid black;
    width: 50%;
    height: 30%;
    margin: auto;
    justify-content: center;
    background-color: white;
    box-shadow: 5px 5px 5px rgb(206, 205, 205);
}

.userPass {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.button {
    text-align: center;
}

.notify {
    display: none;
    justify-content: center;
    align-items: center;
    color: red;
    margin-bottom: 5%;
}